<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Report</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/dashboard.css">
    <link rel="stylesheet" href="assets/css/offcanvas.css">
    <meta name="theme-color" content="#563d7c">
</head>

<body>
    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <span data-feather="file-text"></span>
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">LabCIF - Android Forensics</h6>
          <small>Lab of Cybersecurity and Digital Forensics at IPLeiria</small>
        </div>
      </div>
    
      <div class="my-3 p-3 bg-white rounded shadow-sm list-group">
        <h6 class="border-bottom border-gray pb-2 mb-0">List of Reports</h6>
        <div id="reports-list">
            
        </div>
      </div>
    </main>
    <script src="assets/ListOfReports.js"></script>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/index.js"></script>
</body>

</html>