<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Report</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/dashboard.css">
    <link rel="stylesheet" href="assets/map/leaflet.css" />
    <meta name="theme-color" content="#563d7c">
</head>

<body>
    <nav class="navbar navbar-dark navbar-collapse fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="navbar-brand col-12 col-sm-12 col-md-2">
            <div class="row">
                <div class="col-8 my-auto px-0">
                    <a href="javascript:window.history.back();" class="logo-link">
                        <span class="col-10 my-auto">Report</span>
                    </a>
                </div>
                <div class="col-4 text-right">
                    <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="menu-list-mobile" class="nav flex-column d-md-none">
            </ul>
        </div>
        <ul class="navbar-nav px-0 pl-2 col-12 col-sm-6 col-md-6 text-left ml-1" style="flex-direction: row">
            <li class="nav-item mr-2">
                <a class="nav-link" id="timeline-btn" href="javascript:void(null);"><span data-feather="clock"></span> Timeline</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" id="map-btn" href="javascript:void(null);"><span data-feather="map"></span> Map</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" id="media-btn" href="javascript:void(null);"><span data-feather="film"></span> Media</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" id="pdf-btn" href="javascript:void(null);"><span data-feather="file-text"></span> PDF</a>
            </li>
        </ul>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav col-sm-6 col-md-4 text-right d-none d-md-block">
            <span id="generated-date" class="text-white mr-4"></span>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div id="report-info" class="small px-3 pt-3"></div>
                    <hr>
                    <ul id="menu-list" class="nav flex-column">
                    </ul>
                    
                </div>
            </nav>

            <main id="page-builder" role="main" class="report-top col-md-10 ml-sm-auto px-0">
            </main>
        </div>
    </div>

    <div id="loading-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Generating your report!</h5>
                </div>
                <div class="modal-body">
                    <p>Please wait until it is ready.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="empty-timeline-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">No timeline found!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>This report doesn't have timeline information!</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="empty-map-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">No location points found!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>This report doesn't have any location points!</p>
                </div>
            </div>
        </div>
    </div>

    <div id="empty-media-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">No media found!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>This report doesn't have any media files!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Report Information-->
    <script src="assets/Report.js"></script>
    <script src="assets/map/leaflet.js"></script>
    <script src="assets/js/pdfmake.min.js"></script>
    <script src="assets/js/vfs_fonts.js"></script>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/feather.min.js"></script>
    <script src="assets/js/report.js"></script>
</body>

</html>