body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.top-link-mobile:hover{
  color: rgba(255,255,255,.75)
}

.top-link-mobile{
  color: rgba(255,255,255,.5);
}

.logo-link:hover{
  color: rgba(255,255,255,.6);
  text-decoration: none;
}

.logo-link{
  color: rgba(255, 255, 255, 0.9);
}



/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

.report-top {
  padding-top: 100px; /* Space for fixed navbar */
}

.map-style {
  width:100%;
  display:block
}

@media (max-width: 768px){
  .map-style{
    height: calc(100vh - 101px)
  }
}

@media (min-width: 768px){
  .map-style{
    height: calc(100vh - 48px)
  }
}


@media (min-width: 768px) {
  .report-top {
    padding-top: 48px; /* Space for fixed navbar */
  }
}


.index-top {
  padding-top: 25px;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* timeline */

.tracking-detail {
  padding: 3rem 0
}

#tracking {
  margin-bottom: 1rem
}

[class*=tracking-status-] p {
  margin: 0;
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center
}

[class*=tracking-status-] {
  padding: 1.6rem 0
}

.tracking-status-intransit {
  background-color: #292b2c
}



.tracking-list {
  border: 1px solid #e5e5e5
}

.tracking-item {
  border-left: 1px solid #e5e5e5;
  position: relative;
  padding: 2rem 1.5rem .5rem 2.5rem;
  font-size: .9rem;
  margin-left: 3rem;
  min-height: 5rem
}

.tracking-item:last-child {
  padding-bottom: 4rem
}

.tracking-item .tracking-date {
  margin-bottom: .5rem
}

.tracking-item .tracking-date span {
  color: #888;
  font-size: 85%;
  padding-left: .4rem
}

.tracking-item .tracking-content {
  padding: .5rem .8rem;
  background-color: #f4f4f4;
  border-radius: .5rem
}

.tracking-item .tracking-content span {
  display: block;
  color: #888;
  font-size: 85%
}

.tracking-item .tracking-icon {
  line-height: 2.6rem;
  position: absolute;
  left: -1.3rem;
  width: 2.6rem;
  height: 2.6rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1rem;
  background-color: #fff;
  color: #fff
}

.tracking-item .tracking-icon.status-sponsored {
  background-color: #f68
}

.tracking-item .tracking-icon.status-delivered {
  background-color: #4cbb87
}

.tracking-item .tracking-icon.status-outfordelivery {
  background-color: #f5a551
}

.tracking-item .tracking-icon.status-deliveryoffice {
  background-color: #f7dc6f
}

.tracking-item .tracking-icon.status-attemptfail {
  background-color: #b789c7
}

.tracking-item .tracking-icon.status-exception {
  background-color: #d26759
}

.tracking-item .tracking-icon.status-inforeceived {
  background-color: #214977
}

.tracking-item .tracking-icon.status-intransit {
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
  font-size: .6rem
}

@media(min-width:992px) {
  .tracking-item {
     margin-left: 10rem
  }

  .tracking-item .tracking-date {
     position: absolute;
     left: -10rem;
     width: 7.5rem;
     text-align: right
  }

  .tracking-item .tracking-date span {
     display: block
  }

  .tracking-item .tracking-content {
     padding: 0;
     background-color: transparent
  }
}